= div_for(todo_list, class: 'container', id: "list-#{todo_list.id}") do
  .row
    .container
      .col-md-8.col-md-offset-2.todo-cont
        .col-md-6
          %h4= link_to todo_list.title, user_todo_list_path(todo_list.user, todo_list)
        .col-md-4.col-md-offset-8
          %p.text-muted= todo_list.created_at