.container#clear-nav
  %h1.list-heading= @todo_list.title
  %p.text-muted= @todo_list.created_at
  .new-todo-items
    = render partial: 'items/form', locals: { todo_lists: @todo_lists}
  .js-todo-items
    = render @items