/ Header
%header
  .container
    .intro-text
      .intro-lead-in Welcome to Productivity
      .intro-heading Ready to Get It Done?
      .button-container
        - if current_user
          = link_to "My Lists", user_path(current_user), class: 'btn btn-xl'
          = link_to "Sign Out", destroy_user_session_path, class: 'btn btn-xl', method: :delete
        - else
          = link_to "Sign Up", new_user_registration_path, class: 'btn btn-xl'
          = link_to "Sign In", new_user_session_path, class: 'btn btn-xl'
/ Services Section
%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Get It Done
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-edit.fa-stack-1x.fa-inverse
        %h4.service-heading Create To Do Lists
        %p.text-muted
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-trash.fa-stack-1x.fa-inverse
        %h4.service-heading Automatically Delete Unfinished Tasks
        %p.text-muted
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-check.fa-stack-1x.fa-inverse
        %h4.service-heading View Completed Items
        %p.text-muted
