= form_for [todo_list, todo_list.items.build], remote: true do |f|
  .row
    .col-md-6.col-md-offset-3.create-form
      .form-group
        = f.text_field :title, id: "title", class: 'form-control input-lg', placeholder: "New Todo Item"
      .col-md-5.col-md-offset-4
        .form-group
          = f.submit "Create Item", class: 'btn btn-primary', id: "create_item"